body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

main {
  position: relative;
  opacity: 0;
  filter: blur(10px);
  transition: opacity 1s ease-in-out, filter 1s ease-in-out;
}

body {
  background: url(./Images/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

header {
  margin-top: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

header > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
  border: 3px solid rgba(255, 87, 87, 0.667);
  box-shadow: rgb(28, 32, 93 / 24%) 0px 2px 8px 0px;
  z-index: 2;
}

.heading {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(40, 38, 38);
  padding: 0.1em 0.6em;
}

ul {
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  padding: 2em;
  max-width: 480px;
  align-items: center;
}

ul > li {
  background-color: rgba(255, 87, 87, 0.667);
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  border-radius: 10em;
  padding: 1em;
  margin: 1.4em 0;
  box-shadow: rgb(28, 32, 93 / 24%) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
}

.icons {
  height: 2rem;
  width: 2rem;
  align-items: center;
}

ul > li > a {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 1.5em;
  margin-left: 8rem;
  color: rgb(40, 38, 38);
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  ul > li > a {
    margin-left: 5.5rem;
  }
}

ul > li > a:hover {
  color: rgb(228, 223, 223);
}

#vanta {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
